{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>My Gallery {{title}} </title>
    {% else %}
    <title>My Gallery </title>
    {% endif %}
    {% block styles %}
      {% bootstrap_css %}
    {% endblock %}  
</head>
<body>
    {% include 'navbar.html'%}
    {% block content %}
     <h5 class="text-center"> “A picture can tell a thousand words,
         but a few words can change it’s story.” </h5>
    {% endblock %}
</body>
</html>