{% extends 'all-photos/base.html' %}
{% block content %}

<div class="container">
 <div class="row">
     <div class="card" style="width: 18rem;">
         <div class="card-header"> {{photo.name}} </div>
           <img src= {% if photo.my_image %} {{photo.my_image.url}} {%else%}#{% endif %} alt="Image" class="img-responsive">
      <div class="card-body">
    <p class="card-text">{{photo.description}} </p>
  </div>
   <div class="card-footer text-muted">
       <p> {{photo.category}} </p>
     <a href=""><input type="text" value=" {{photo.my_image.url}} " id="{{my_image.id}}.url" /></a>
      <button onclick="copyLink('{{my_image.id}}.url')" onmouseout="outFunc()"> Copy image</button>
  </div>
 </div>
</div>

</div>
{%block script%}
  <script>
 copyLink = (element) => {
 document.getElementById(element).select();
 document.execCommand("copy");
                                                             }
 </script>
  {%endblock%}
{% endblock %}