{%extends 'all-photos/base.html' %}
{% block content %}
{{ block.super }}
<div class="container">
   {% for photo in photos %}
   
<div class="container ">
  <div class="row g-5">
    <div class="col-6">
     <div class="p-3 border bg-light">
        <p class="text-center">{{photo.description}} </p>  
       <img src= {% if photo.my_image %} {{photo.my_image.url}} {%else%}#{% endif %} alt="Image" class="img-responsive" style="height: 300px; width: 300px;">
       <p>Located in <b> {{photo.location}} </b></p>
       <input type="text" value=" {{my_image.url}} " id="myImage">
       <button onclick="myFunction">Copy image</button>
     </div>
    </div>
  </div>
</div> 
    {% endfor %}

</div>
{% endblock %}